.slider-bg{
    background-position: center; 
    background-size: cover; 
    height: 35rem;
}
.bg-blue{
    background-color:#289BDE;
}
.text-blue{
    color:#289BDE;
}
.bg-registartion{
    height: 14rem;
}
.bg-light-blue{
    background-color: #F4FAFD;
}